*{
    box-sizing: border-box;
}
body{
    text-align: center;
}

.left{
    float: left;
}
#train-name{
    width: 100%;
}
.form-group{
    text-align: left;
}
.add-train-section{
    margin-top: 20px;
}
#border{
    border-bottom: 1px solid gray;
    margin-top: 10px;
}
#test{
    text-align: left;
}
.train-title{
    margin-left: 30px;
}
#over{
    overflow: scroll;
    height: 400px;
}

.add-train-section:hover, .card:hover{
    box-shadow:  
    0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron{
    background: url('../images/jumbotron-background.jpg');
    background-position: center;
    width: 100%;
    border-radius: 0;
}
#welcome{
    z-index: 99;
    color:#fff;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: #fff;
}
.card-header{
    background: #b37a4e;
}
.card-body{
    background: #f0eeec;
}